<div class="flex w-screen justify-center items-center mt-4">

  <ul class="menu bg-base-300 lg:menu-horizontal rounded-box">
    <li>
      <a routerLink="assigned" routerLinkActive="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path fill="currentColor"
            d="m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z" />
        </svg>
        ASSIGNED
      </a>
    </li>
    <li>
      <a routerLink="waiting" routerLinkActive="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0-18 0" />
            <path d="M12 7v5l3 3" />
          </g>
        </svg>
        WAITING
        <span class="badge badge-warning text-black">2</span>

      </a>
    </li>
    <li>
      <a routerLink="draft" routerLinkActive="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <g fill="none">
            <path d="M12 17a4 4 0 0 0 3.874-3H22v7H2v-7h6.126c.444 1.725 2.01 3 3.874 3" />
            <path d="M12 17a4 4 0 0 0 3.874-3H20V3H4v11h4.126c.444 1.725 2.01 3 3.874 3" />
            <path stroke="currentColor" stroke-linecap="square" stroke-width="2"
              d="M4 14V3h16v11m-4.126 0a4.002 4.002 0 0 1-7.748 0H2v7h20v-7zM8 7h8m-8 4h4" />
          </g>
        </svg>
        DRAFTS
        <!-- <span class="badge badge-info">6</span> -->
      </a>
    </li>
    <li>
      <a routerLink="cancelled" routerLinkActive="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path fill="currentColor"
            d="m12 13.4l2.9 2.9q.275.275.7.275t.7-.275t.275-.7t-.275-.7L13.4 12l2.9-2.9q.275-.275.275-.7t-.275-.7t-.7-.275t-.7.275L12 10.6L9.1 7.7q-.275-.275-.7-.275t-.7.275t-.275.7t.275.7l2.9 2.9l-2.9 2.9q-.275.275-.275.7t.275.7t.7.275t.7-.275zm0 8.6q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8" />
        </svg>
        CANCELLED
      </a>
    </li>
  </ul>

  <button class="btn btn-primary ml-3" [routerLink]="['/doctor/organ-petition']" routerLinkActive="router-link-active"> New Petition </button>

</div>
