<section class="navbar bg-gradient-to-b from-cyan-900 to-base-100 px-4 sm:px-6 pt-4 pb-10">

  <div class="navbar-start">
    <button class="btn btn-soft btn-warning btn-sm sm:btn-md gap-2 group" (click)="logOut()">
      <span>Log Out</span>
    </button>
  </div>

  <div class="navbar-center">
    <h1 class="text -2xl sm:text-3xl font-black tracking-widest text-primary font-mono select-none">
      ICHOR
    </h1>
  </div>

  <div class="navbar-end">

    @if (!!role() && role() !== 'COORDINATOR') {
      <a (click)="redirectHome()" class="btn btn-soft">
        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path fill="currentColor"
            d="M6 19h3v-5q0-.425.288-.712T10 13h4q.425 0 .713.288T15 14v5h3v-9l-6-4.5L6 10zm-2 0v-9q0-.475.213-.9t.587-.7l6-4.5q.525-.4 1.2-.4t1.2.4l6 4.5q.375.275.588.7T20 10v9q0 .825-.588 1.413T18 21h-4q-.425 0-.712-.288T13 20v-5h-2v5q0 .425-.288.713T10 21H6q-.825 0-1.412-.587T4 19m8-6.75" />
        </svg>
      </a>
    }

  </div>

</section>
