 @if(isLoading()){
 }

<section class="overflow-x-auto bg-base-100 rounded-lg shadow-sm border border-base-300 m-10">
  <table class="table">
    <thead>
      <tr class="bg-base-300">
        <th>#</th>
        <th>Patient ID</th>
        <th>Organ</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
    @if(!!petitions()){
        @for (petition of petitions(); track petition.idPatient; let index = $index) {
          <tr>
            <td>{{index + 1}</td>
            <td>{{petition.idPatient}}</td>
            <td>{{petition.organType}}</td>
            <td>{{petition.petitionState}}</td>
          </tr>
        }
      }
    </tbody>
  </table>

  @if(!petitions()){
    <div role="alert" class="alert alert-soft m-3 flex items-center justify-center h-20">
      <span class="h-max">Ups! No petitions available yet.</span>
    </div>
  }
</section>
